html {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #8B7969;;
}

.section-contents {
    width: 65%;
    margin: 0 auto;
}

.confirm-form {
    width: 100%;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #8B7969;
    font-size: 20px;
    border: 1px solid #E0DFDE;
    text-align: left;
}

/*-- 項目　--*/
.confirm-form th {
    width: 40%;
    height: 70px;
    font-size: 20px;
    background-color: #BAA899;
    color: #fff;
    font-weight: normal;
    vertical-align: middle;
    padding-left: 40px;
}

/*-- フォーム　--*/
.confirm-form td {
    width: 60%;
    height: 70px;
    vertical-align: middle;
    padding-left: 40px;
}

/*-- ボタン　--*/
.button {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.submit-button {
    background-color: #82756A;
    color: #fff;
    width: 120px;
    height: 42px;
    border: none;
    position: relative;
    left: 60px;
}
.edit-button {
    background: transparent;
    color: #82756A;
    width: 120px;
    height: 42px;
    border: none;
    text-decoration: underline;
    position: relative;
    left: 60px;
}

